body {
  background-color:	#60d060;
}

.nav {
	font-size:	24px;
}
.jumbotron {
	background-image:		url("http://i.ytimg.com/vi/tntOCGkgt98/maxresdefault.jpg");
	background-repeat:		no-repeat;
	background-position:	left;
	padding:				150px;
	
	text-align:		left;
	font-size:		35px;
	font-family:	Helvetica;
	color:			#000;
	
}
